# Network RPC URLs
SEPOLIA_RPC=https://sepolia.infura.io/v3/04b95087633f46df83867c0e1f216b04

# Private Keys (never commit these to version control!)
PRIVATE_KEY=d414292a4b6908937805fdefebb0e8411831fd5e3adac714240db638ddbbcfa4

# Etherscan API Key (for contract verification)
ETHERSCAN_API_KEY=HK3GHQR2XEHFR23XTB8NMUVZDCCC13YAWK

# Contract Deployment Address (after deployment)
CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3


